ul {
  text-decoration: none; }

.container {
  width: 100%; }

header {
  margin: 0;
  width: 100%;
  display: inline-block; }

.nav-header {
  padding-top: 17px;
  padding-bottom: 11px;
  height: 53px;
  border-bottom: 1px solid grey; }

.nav-title {
  font-family: 'Tinos', serif;
  font-weight: normal 400, thin;
  font-size: 20px;
  color: #F16600; }
  .nav-title h1 {
    margin: 0; }

form {
  width: 500px;
  margin: 50px auto; }

nav-search {
  margin: 0; }

.nav-header-sub {
  height: 43px;
  border-bottom: 1px solid grey;
  text-align: center;
  text-decoration: none; }

.content {
  margin: 0;
  height: 1095px;
  width: 100%;
  display: inline-block; }

.aside {
  width: 200px;
  float: left;
  border: 1px solid grey; }

.categories {
  list-style: none;
  width: 245px;
  border: 1px solid grey; }

.filter {
  width: 245px;
  border: 1px solid grey; }

div.filter-type {
  border-bottom: 1px solid grey; }

div.filter-price {
  border-bottom: 1px solid grey; }

input {
  width: 50px;
  height: 35px; }

select {
  width: 40px;
  height: 35px; }

div.filter-color {
  border-bottom: 1px solid grey; }

div.filter-order {
  border-bottom: 1px solid grey; }

div.filter-location {
  border-bottom: 1px solid grey; }

div.filter-ship {
  border-bottom: 1px solid grey; }

.section {
  float: right; }

.item {
  margin: 5px;
  height: 230px;
  width: 230px;
  border: 1px solid grey;
  float: left; }

footer {
  margin: 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid black;
  float: left; }
