ul {
  text-decoration: none;
}

.container {
  
  width: 100%;
  // display: inline-block;
 
}

  header {
    margin: 0;
    width: 100%;
    display: inline-block;
    

      }


    .nav-header {
      padding-top: 17px;
      padding-bottom: 11px;
      height: 53px;
      border-bottom: 1px solid grey;
    }

    .nav-title{
      // margin: 0;
      // padding-top: 20px;
      font-family: 'Tinos', serif;
      font-weight: normal 400, thin;
      font-size: 20px;
      color: #F16600;

      h1 {
        margin: 0;

      }


    }

     form {
      width:500px;
      margin:50px auto;
    }
      input {

      }
      select {

      }

    nav-search {
      margin: 0;
    }

   

    .nav-header-sub {
      height: 43px;
      border-bottom: 1px solid grey;
       text-align: center;
      text-decoration: none;
    }


  //   .search {
  //   padding:8px 15px;
  //   background:rgba(50, 50, 50, 0.2);
  //   border:0px solid #dbdbdb;
  // }
  //     .button {
  //   position:relative;
  //   padding:6px 15px;
  // left:-8px;
  //   border:2px solid #207cca;
  //   background-color:#207cca;
  //   color:#fafafa;
  // }
  //   .button:hover  {
  //   background-color:#fafafa;
  //   color:#207cca;
  // } 




  .content {
    margin: 0;
    height: 1095px;
    width: 100%;
    display: inline-block;
    
    // border: 1px solid grey;
    // float: left;

  }

    .aside {
        width: 200px;

        float: left;
          border: 1px solid grey;

      }

      .categories {
      list-style: none;
      width: 245px;
      border: 1px solid grey;
        }

      .filter {
      width: 245px;
      border: 1px solid grey;
        }


        div.filter-type {
          border-bottom: 1px solid grey;
        }

        div.filter-price {
          border-bottom: 1px solid grey;

        }

          input {
            width: 50px;
          height: 35px;
          }

          select {
          width: 40px;
          height: 35px;
          }

        div.filter-color {
          border-bottom: 1px solid grey;

        }

        div.filter-order {
          border-bottom: 1px solid grey;

        }

        div.filter-location {
          border-bottom: 1px solid grey;
        }

        div.filter-ship {
          border-bottom: 1px solid grey;

        }
      

      .section {
        float: right;
              // border: 1px solid black;

      }


        .item {
          margin: 5px;
          height: 230px;
          width: 230px;
          border: 1px solid grey;
          float: left;
        }

  footer {

    margin: 0;
    height: 100px;
    width: 100%;
    border-top: 1px solid black;
    float: left;

  }

