ul {
  text-decoration: none;
}


.container {
  
  width: 100%;
  // display: inline-block;
 
}

  header {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid grey;

    }


    .nav-header {
      padding-top: 17px;
      padding-bottom: 11px;
      padding-left: 130px;
      height: 53px;
      float: left;
      display: inline;
    }

      .nav-title {
        // margin: 0;
        // padding-top: 20px;
        font-family: 'Tinos', serif;
        font-weight: normal 400, thin;
        font-size: 20px;
        color: #F16600;
        float: left;

      }


      h1 {
        margin: 0;

      }

      .nav-search {
        margin: 0; 
        padding-left: 20px;
        padding-top: 8px;
        float: right;
      }

      
        .input-text {
          width: 265px;
        height: 30px; 

        }

        .input-button {
          width: 80px;
          height: 35px;
          background-color: #40A7C7;
          color: white;



        }
        select {

        }


    .nav-login {
      padding-top: 35px;
      padding-right: 180px;
      text-decoration: none;
      display: inline;
      float: right;
    }

    .log {
      text-decoration: none;
      font-size: 14px;
      color: #40A7C7;
      padding-right: 15px;
    }


  .sub-header {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid grey;

  }

  .sub-catagories {
      padding-top: 10px;
      padding-left: 150px;
     
    }

    a {
      padding-right: 15px;
      text-decoration: none;
      color: grey;
      font-size: 14px;

    }
        


  //   .search {
  //   padding:8px 15px;
  //   background:rgba(50, 50, 50, 0.2);
  //   border:0px solid #dbdbdb;
  // }
  //     .button {
  //   position:relative;
  //   padding:6px 15px;
  // left:-8px;
  //   border:2px solid #207cca;
  //   background-color:#207cca;
  //   color:#fafafa;
  // }
  //   .button:hover  {
  //   background-color:#fafafa;
  //   color:#207cca;
  // } 


.main {
  width: 100%;
  height: 2500px;
  background-color: #F5F5F1;
}

  .content {
      margin: 0;
      height: 1095px;
      width: 100%;
      padding-top: 20px;
      padding-left:50px;
      padding-right:50px;
      float: left;
      display: inline-block;
    }

  aside {
        padding-left: 100px;
        margin: 5px;
        width: 250px;
        float: left;
        }

      .categories {
        list-style: none;
        width: 245px;
        height: 215px;
        border: 1px solid grey;
        background-color: white;


        }

        .categories-list {
          list-style-type: none;

        }

      .filter {
        width: 245px;
        height: 700px;
        border: 1px solid grey;
          }


        .filter-type {
            height: 124x;
            border-bottom: 1px solid grey;
          }

        .filter-price {
           height: 98px;
            border-bottom: 1px solid grey;

          }

            .price-input {
              width: 50px;
            height: 35px;
            }

            .price-select {
            width: 40px;
            height: 35px;
            }

          div.filter-color {

            height: 88px;
            border-bottom: 1px solid grey;
            list-style-type: none;

          }

          div.filter-order {
            height: 92;
            border-bottom: 1px solid grey;

          }

          div.filter-location {
            height: 109px;
            border-bottom: 1px solid grey;
          }

          div.filter-ship {
            height: 92px;
            border-bottom: 1px solid grey;

          }
        

    section {
        margin-left: auto;
        margin-right: auto;
        padding-right: 148px;
        width: 770px;
        height: 2250px;
        display: inline-block;
        float: right;

        }

      .item-search {
        height: 100px;
        width: 770px;
        display: inline;
        border: 1px solid red;
         clear: both;


      }

      .search-results {
        // display: inline;
        float: left;
      }

      .sort {
        // display: inline;
        float: right;
      }

        .item-results {
            width: 730px;
            height: 2180px;
            clear:both;

          }


        .item {
            margin: 5px;
            height: 230px;
            width: 230px;
            border: 1px solid grey;
            display: inline-block;
            float: left;
          }


  footer {
    margin: 0;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    clear: both;
  }

      .related {

        h4 {

          display: inline;
        }

      .related-items {
        }

          a{
            display: inline-block;

          }
      }







