// ul {
//   text-decoration: none;
// }


.container {
  margin-top: auto;
  
  width: 100%;
}

  header {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: inline-block;
    }

    .nav-header {
      padding-top: 17px;
      padding-bottom: 11px;
      padding-left: 130px;
      height: 53px;
      float: left;
      display: inline;
    }

      .nav-title {
        // margin: 0;
        // padding-top: 20px;
        font-family: 'Tinos', serif;
        font-weight: normal 400, thin;
        font-size: 20px;
        color: #f45800;
        float: left;

      }


      h1 {
        margin: 0;

      }

      .nav-search {
        margin: 0; 
        padding-left: 20px;
        padding-top: 8px;
        float: right;
      }

        .nav-form{
          border-radius: 2px;

        }

        .input-text {
          width: 265px;
        height: 30px; 

        }

        .input-button {
          width: 80px;
          height: 35px;
          background-color: #40A7C7;
          color: white;



        }
        select {

        }


    .nav-login {
      padding-top: 35px;
      padding-right: 180px;
      text-decoration: none;
      display: inline;
      float: right;
    }



    .log {
      text-decoration: none;
      font-size: 14px;
      color: #0192B5;
      padding-right: 15px;
    }

    .log-signin{
      width: 42px;
      height: 16px;
      text-decoration: none;
      font-size: 14px;
      color: #0192B5;
      border: 1px solid #0192B5;
      border-radius: 2px;
      padding-right: 15px;
    }




  .sub-header {
    width: 100%;
    height: 38px;
    border: 1px solid #E1E3DF;

  }

  .sub-catagories {
      padding-top: 10px;
      padding-left: 150px;
     
    }

    a {
      padding-right: 15px;
      text-decoration: none;
      color: grey;
      font-size: 14px;

    }
        


  //   .search {
  //   padding:8px 15px;
  //   background:rgba(50, 50, 50, 0.2);
  //   border:0px solid #dbdbdb;
  // }
  //     .button {
  //   position:relative;
  //   padding:6px 15px;
  // left:-8px;
  //   border:2px solid #207cca;
  //   background-color:#207cca;
  //   color:#fafafa;
  // }
  //   .button:hover  {
  //   background-color:#fafafa;
  //   color:#207cca;
  // } 


.main {
  width: 100%;
  height: 2500px;
  background-color: #F5F5F1;
}

  .content {
      margin: 0;
      height: 1095px;
      width: 100%;
      padding-top: 20px;
      padding-left:50px;
      padding-right:50px;
      display: inline-block;
      // position: absolute;
      // overflow: hidden;
    }

  aside {
        padding-left: 95px;
        margin: 5px;
        width: 250px;
        float: left;
        // position: absolute;
        }

      .results {
        margin-top: 0;
          padding-bottom: 10px;
          padding-right: 0;
          margin-bottom: 0;
          font-size: 13px;
        }

      

      .categories {
        list-style: none;
        width: 245px;
        height: 215px;
        border: 1px solid #E1E3DF;        
        border-radius: 2px;
        background-color: white;
      }

          h4 {
            padding-left: 8px;
            font-size: 13px;

          }

        .categories-list {
          list-style-type: none;
          padding-left: 20px;
          margin: 0;
        }
    
          li {
            padding-bottom: 7px;
          }

          li a {
            font-size: 13px;
          }

      .filter {
        width: 245px;
        height: 738px;
        border: 1px solid #E1E3DF;
        border-radius: 2px;

        background-color: white;
      }


        .filter-type {
            height: 124x;
            border-bottom: 1px solid #D4D4D4;

        }
       
          // li {
          //   padding-bottom: 7px;
          // }

          li a {
            font-size: 13px;
          }

        .filter-price {
           height: 98px;
            border-bottom: 1px solid #E1E3DF;
            display: inline;

         
          h4 {
            margin: 0;
            padding-top: 10px;
          }

          a {
            padding: 0;
          }

        }

            .price-input {
               margin-left: 10px;

              width: 50px;
            height: 35px;
             border: 1px solid #E1E3DF;
             border-radius: 2px;
            }

            .price-select {
            width: 40px;
            height: 35px;
            }

          .filter-color {

            height: 88px;
            border-bottom: 1px solid #E1E3DF;
  

            ul {
              list-style-type: none;
              padding-left: 10px;
            }

            li {
              // height: 18px;
              // width: 18px;
          
              
              display: inline;
            }

            .red {
                  height: 18px;
              width: 18px;
              border-radius: 2px;
              background-color: #F50F32;
            }

            .orange {
                  height: 18px;
              width: 18px;
              border-radius: 2px;
              background-color: #FB7F00 ;
            }  

            .yellow {
              height: 18px;
              width: 18px;
              border-radius: 2px;
              background-color: #F3CC0A;
            }

            .green {
             height: 18px;
              width: 18px;              border-radius: 2px;
              background-color: #31C300;
            }

            .blue {
              height: 18px;
              width: 18px;              border-radius: 2px;
              background-color: #2FCCF3;
            }

            .purple {
            height: 18px;
              width: 18px;
              border-radius: 2px;
              background-color: #A60AF3;
            }

            .black {
               height: 18px;
              width: 18px;
              border-radius: 2px;
              background-color: #000000;
            }

            .white {
              height: 18px;
              width: 18px;
              background-color: #FFFFFF;
              border: 1px solid #E1E3DF;
            }

            
          }

              // a {
              // padding-right: 0;

              // }
          

          div.filter-order {
            height: 92;
            border-bottom: 1px solid #D4D4D4;

          }

          div.filter-location {
            height: 109px;
            border: 1px solid #E1E3DF;
          }

          div.filter-ship {
            height: 92px;
            border: 1px solid #E1E3DF;

          }
        

    section {

        margin-left: auto;
        margin-right: auto;
        padding-right: 150px;
        width: 770px;
        height: 2150px;
        display: inline-block;
        float: right;
        // position: absolute;


        }

      .item-search {

        // height: 100px;
        // width: 770px;
        display: inline;
         clear: both;


      }

      .search-results {
        height: 30px;
        width: 400px;
        // display: inline;
        float: left;

        h4 {
          padding-left: 5px;
          font-size: 13px;
          display: inline;
        }
      }

      .sort {
        padding-right: 10px;
        height: 30px;
        width: 186px;
        // display: inline;
        float: right;

         h4 {
          font-size: 15px;
          display: inline;
        }
      }

        .item-results {
            width: 730px;
            height: 2180px;
            clear:both;

          }

// JS Template

        .item {
            margin: 8px;
            margin-top: 0;
            height: 227px;
            width: 225px;
            background-color: white;
            border: 1px solid #E1E3DF;
            border-radius: 2px;
            overflow: hidden;
            display: inline-block;
            float: left;
          }

        .item-img p {
          margin: 0;
        }
        .item-img p img {
          width: 100%;

        }

        .item-title p {
          margin: 0;
          padding-top: 5px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .item-subtitle p {
          margin: 0;
          padding-left: 5px;
          padding-right: 5px;
          padding-top: 5px;
          font-size: 12px;
          color: #AAA;
          display: inline;
        }

        .shop {
          float: left;
        }

        .price {
          float: right;
        }


  footer {
    margin: 0;
    height: 100px;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    clear: both;
  }

      .related {

        h4 {

          display: inline;
        }

      .related-items {
        }

          a{
            display: inline-block;

          }
      }







